
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    right: 24%;
    top: 6%;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    left: 24%;
    bottom: 6%;
}
body{
    padding-left: 2px;
    background-color: #080710;
    display: flex;
}
.container{
    color: #ffffff;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 50px 35px;    
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: white;
}
.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
}
::placeholder{
    color: #e5e5e5;
}
.user-details .input-box input{
    color:white;
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background-color: rgba(255,255,255,0.07);
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.gender
{
    color: white;
}
form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
}
form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    background: #9b59b6;
    border-color: #d9d9d9;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 35px 0
}
form .button input:disabled{
    background:gray;
      height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration:  0.3s ;
    background: linear-gradient(135deg, gray, darkslategray);
    box-shadow: 0 2px 5px rgba(1,1,1,0.15);
}
form .button input:enabled{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration:  0.3s;
    background: linear-gradient(135deg, #f09819,  #ff512f);
    box-shadow: 0 2px 5px rgba(1,1,1,0.15);
}

form .button input:enabled:hover
{
    background: linear-gradient(-135deg, #f09819,  #ff512f);
}
@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .category{
        width: 100%;
    }
    .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
}
@media(max-width: 459px){
    .container .content .category{
        flex-direction: column;
    }
}
.login #log_btn
{
    border:none;
    margin-top: 20px;
    width: 100%;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .2s;
     background: linear-gradient(-135deg,  #23a2f6, #1845ad);
        color:White;
}
.login #log_btn:hover{
    
    background-color: #f09819;
    background: linear-gradient(135deg,  #23a2f6, #1845ad);
        color:White;
    
}

   .terms a:link { text-decoration: none;
   color: #f09819;}
.terms  a:visited { text-decoration: none;
}
.terms  a:hover { text-decoration: none;
color: #c276e3}
 .terms a:active { text-decoration: none; }
 
 .img
{
    margin-left: 7px;
    margin-top: 8px;
    width:3%;
    height:3%;
    
}
.img img
{
    width:100%;
    height:100%;
}
