<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovie</servlet-name>
        <servlet-class>AddMovie</servlet-class>
        <multipart-config>
            <max-file-size>1048576</max-file-size>
            <max-request-size>2097152</max-request-size>
            <file-size-threshold>524288</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AssignMovie</servlet-name>
        <servlet-class>AssignMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deassign</servlet-name>
        <servlet-class>Deassign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractBookedSeats</servlet-name>
        <servlet-class>ExtractBookedSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractBookedSeat</servlet-name>
        <servlet-class>ExtractBookedSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecoMovie</servlet-name>
        <servlet-class>AddRecoMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReco</servlet-name>
        <servlet-class>DeleteReco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMov</servlet-name>
        <servlet-class>DeleteMov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImgTestServlet</servlet-name>
        <servlet-class>ImgTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadToDb</servlet-name>
        <servlet-class>UploadToDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCust</servlet-name>
        <servlet-class>DeleteCust</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendForgotOTP</servlet-name>
        <servlet-class>ResendForgotOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendOTP</servlet-name>
        <servlet-class>ResendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QR</servlet-name>
        <servlet-class>Project.QR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovie</servlet-name>
        <url-pattern>/AddMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignMovie</servlet-name>
        <url-pattern>/AssignMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deassign</servlet-name>
        <url-pattern>/Deassign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractBookedSeats</servlet-name>
        <url-pattern>/ExtractBookedSeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractBookedSeat</servlet-name>
        <url-pattern>/ExtractBookedSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecoMovie</servlet-name>
        <url-pattern>/AddRecoMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReco</servlet-name>
        <url-pattern>/DeleteReco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMov</servlet-name>
        <url-pattern>/DeleteMov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImgTestServlet</servlet-name>
        <url-pattern>/ImgTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadToDb</servlet-name>
        <url-pattern>/UploadToDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCust</servlet-name>
        <url-pattern>/DeleteCust</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendForgotOTP</servlet-name>
        <url-pattern>/ResendForgotOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendOTP</servlet-name>
        <url-pattern>/ResendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QR</servlet-name>
        <url-pattern>/QR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
